<app-card variant="secondary">
    <mat-card-header>
        <mat-card-title>Gerenciar Técnico</mat-card-title>
      </mat-card-header>
    <img 
        src="assets/imagens/tecnico.png" 
        alt="Imagem tecnico">
    <mat-card-content>
        <p>
            Clique no botão abaixo para começar a gerenciar técnico.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="navigateToTecnico()">GERENCIAR TÉCNICO</button>
      </mat-card-actions>
</app-card>
