<mat-card class="card-tecnico">
    <mat-card-header>
        <mat-card-title>Cadastro de Técnico</mat-card-title>
      </mat-card-header>
    <img 
        src="assets/imagens/tecnico.png" 
        alt="Imagem de cadastro de novo tecnico">
    <mat-card-content>
        <p>
            Clique no botão abaixo para começar o cadastro de um novo técnico.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary">CADASTRAR NOVO TÉCNICO</button>
      </mat-card-actions>
</mat-card>
