.tecnico-page-container {
    max-width: 100%;
    margin: auto;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgba(249, 249, 249, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    .tecnico-container, .tabela-listar-tecnicos {
      max-width: 80%; /* Ajuste para manter a mesma largura */
      margin: auto;
      padding: 25px;
      border: 1px solid #ddd;
      border-radius: 10px;
      background-color: rgba(249, 249, 249, 0.8);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
      h2 {
        text-align: center;
        margin-bottom: 25px;
        color: #333;
      }
    }
  
    .tecnico-form-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
  
      .linha {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
      }
  
      .mat-form-field {
        flex: 1;
        min-width: calc(50% - 20px); /* Ajuste para responsividade */
      }
  
      .login-control,
      .placa-control,
      .data-control {
        flex: 1;
        min-width: calc(33.33% - 20px);
      }

      .nome-control,
      .cpf-control{
        flex: 1;
        min-width: calc(50% - 20px);
      }
  
      button[mat-raised-button] {
        background-color: #333;
        color: white;
        width: 100%;
        margin-top: 20px;
  
        &:hover {
          background-color: darken(#333, 10%);
        }
      }
    }

    .search-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      margin-top: 20px;

      .search-bar {
          width: 50%;
      }
  }
  
    .tabela-listar-tecnicos {
      margin-top: 20px;
      overflow-x: auto;
  
      table {
        width: 100%;
        margin: 40px auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
        th,
        td {
          padding: 8px 16px;
          border-bottom: 1px solid #ddd;
        }
  
        th {
          background-color: #333;
          color: white;
        }
  
        tr:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }
      }
  
      .botoes-container {
        display: flex;
        justify-content: center;
        gap: 10px;
      }
  
      .btn-editar,
      .btn-excluir {
        background-color: #333;
        color: #f9f9f9;
      }
  
      .linha-selecionada {
        background-color: #333;
      }
    }
  
    .links {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
  
      a,
      button {
        color: #333;
        text-decoration: none;
        padding: 10px;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }
  