<div class="perfil-page-container">
    <app-banner src="assets/imagens/bannerPerfil.png" alt="Banner perfil Macedos">
    </app-banner>
    <div class="perfil-container">
        <h2>Perfil do Usuário</h2>

        <div class="perfil-item">
            <label>Nome:</label>
            <span>{{ usuarioLogado }}</span>
            <button mat-button (click)="abrirModalEdicao()">Editar</button>
        </div>

        <div class="perfil-item">
            <label>CPF:</label>
            <span>{{ cpfUsuarioLogado }}</span>
            <button mat-button (click)="abrirModalEdicao()">Editar</button>
        </div>

        <div class="perfil-item">
            <label>Login:</label>
            <span>{{ loginUsuarioLogado }}</span>
            <button mat-button (click)="abrirModalEdicao()">Editar</button>
        </div>

        <div class="perfil-item">
            <label>Tipo de Usuário:</label>
            <span>{{ tipoUsuarioLogado }}</span>
        </div>


        <button class="btn-alterar-senha" mat-button (click)="abrirModalAlterarSenha()">Alterar Senha</button>


        <div class="links">
            <a routerLink="/">Voltar para Home</a>
            <a routerLink="/">Visualizar outros perfis</a>
        </div>
    </div>
</div>