// Estilos gerais para cabeçalho e rodapé
header, footer {
    z-index: 3;
    position: relative;
}

// Contêiner principal da página de perfil
.perfil-page-container {
    min-height: 100vh;
    padding: 60px 0 100px; // Compacta as definições de padding

    .btn-alterar-senha {
        background-color: #333;
        color: #f9f9f9;
        display: flex;
        justify-content: center; // Alinha os itens horizontalmente ao centro
        gap: 10px; // Adiciona espaço entre os botões
    }

    // Estilos para os contêineres do perfil e tabela de usuários
    .perfil-container, .tabela-usuarios-container {
        position: relative;
        max-width: 1000px;
        margin: auto;
        padding: 25px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: rgba(249, 249, 249, 0.8);
        z-index: 2;

        h2 {
            text-align: center;
            margin-bottom: 25px;
        }

        // Estilos para itens individuais do perfil
        .perfil-item {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            gap: 10px;

            label {
                font-weight: bold;
                margin-right: 15px;
                white-space: nowrap;
                flex-shrink: 0;
            }

            input, button {
                flex-grow: 1;
            }

            // Estilos específicos para inputs e botões
            input {
                padding: 6px 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            button {
                max-width: 120px;
                text-align: center;
                margin-left: 15px;
                background-color: #333;
                color: #f9f9f9;
            }
        }

        // Botão para alterar senha e botão para editar
        .botoes-container {
            margin-top: 20px; 
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .btn-editar, .btn-excluir {
            background-color: #333;
            color: #f9f9f9;
        }

        // Estilos para os links
        .links {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;

            a, button {
                color: #333;
                text-decoration: none;
                padding: 10px;
                background: none;
                border: none;
                cursor: pointer;
            }
        }

        // Estilo para linha selecionada na tabela
        .linha-selecionada {
            background-color: #333; // Cor de fundo para a linha selecionada
        }
    }
}

