<div class="registro-servicos-page-container">
  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
  
  <!-- Conteúdo do formulário -->
  <div *ngIf="!isLoading" class="registro-servicos-container">
    <form [formGroup]="registroForm" (ngSubmit)="registrar()" novalidate class="registro-form-container">
      
      <!-- Título do Formulário -->
      <h2>Registrar Serviço</h2>

      <!-- Campos do Formulário -->
      <div class="form-row">
        <mat-form-field appearance="fill" class="contrato-control">
          <mat-label>Contrato</mat-label>
          <input matInput formControlName="contrato" required>
          <mat-error *ngIf="registroForm.get('contrato')?.invalid && registroForm.get('contrato')?.touched">
            O campo Contrato é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="os-control">
          <mat-label>OS</mat-label>
          <input matInput formControlName="os" required>
          <mat-error *ngIf="registroForm.get('os')?.invalid && registroForm.get('os')?.touched">
            O campo OS é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="data-control">
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="data" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="registroForm.get('data')?.invalid && registroForm.get('data')?.touched">
            A data é obrigatória.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="tecnico-control">
          <mat-label>Técnico</mat-label>
          <input type="text" matInput [formControl]="tecnicoControl" [matAutocomplete]="autoTecnico" required>
          <mat-autocomplete #autoTecnico="matAutocomplete" [displayWith]="displayFnTecnico"
            (optionSelected)="onTecnicoSelected($event)">
            <mat-option *ngFor="let tecnico of tecnicosFiltrados | async" [value]="tecnico">
              {{ tecnico.nome }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="registroForm.get('idTecnico')?.invalid && registroForm.get('idTecnico')?.touched">
            A escolha de um técnico é obrigatória.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" class="servico-control">
          <mat-label>Serviço</mat-label>
          <input type="text" matInput [formControl]="servicoControl" [matAutocomplete]="autoServico" required>
          <mat-autocomplete #autoServico="matAutocomplete" [displayWith]="displayFnServico"
            (optionSelected)="onServicoSelected($event)">
            <mat-option *ngFor="let servico of servicosFiltrados | async" [value]="servico">
              {{ servico.descricao }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="registroForm.get('idServico')?.invalid && registroForm.get('idServico')?.touched">
            A escolha de um serviço é obrigatória.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="servicos-adicionais-control">
          <mat-label>Serviços Adicionais</mat-label>
          <input type="text" matInput [formControl]="servicoAdicionalControl"
            [matAutocomplete]="autoServicosAdicionais">
          <mat-autocomplete #autoServicosAdicionais="matAutocomplete" [displayWith]="displayFnServicosAdicionais"
            (optionSelected)="onServicoAdicionalSelected($event)">
            <mat-option *ngFor="let servicoAdicional of servicoAdicionalFiltrados | async" [value]="servicoAdicional">
              {{ servicoAdicional.descricao }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div *ngFor="let servico of servicosAdicionais">
          {{ servico.descricao }}
          <button mat-button (click)="removeServicoAdicional(servico)">Remover</button>
        </div>

        <div *ngIf="isRootOrGerente">
          <mat-form-field appearance="fill" class="valor1-control">
            <mat-label>Valor Principal</mat-label>
            <input matInput type="number" formControlName="valor1" readonly>
          </mat-form-field>

          <mat-form-field appearance="fill" class="valor-total-control">
            <mat-label>Valor Total</mat-label>
            <input matInput type="number" formControlName="valorTotal" readonly>
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" class="nome-cliente-control">
          <mat-label>Nome Cliente</mat-label>
          <input matInput formControlName="nomeCliente" required>
          <mat-error *ngIf="registroForm.get('nomeCliente')?.invalid && registroForm.get('nomeCliente')?.touched">
            O campo Nome Cliente é obrigatório.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" class="metragem-cabo-drop">
          <mat-label>Metragem Cabo Drop</mat-label>
          <input matInput formControlName="metragemCaboDrop" required>
          <mat-error *ngIf="registroForm.get('metragemCaboDrop')?.invalid && registroForm.get('metragemCaboDrop')?.touched">
            O campo Metragem Cabo Drop é obrigatório.
          </mat-error>
        </mat-form-field>
      </div>  
      <!-- Botão de Submissão -->
      <button mat-raised-button type="submit" [disabled]="!registroForm.valid">Registrar</button>
    </form>

    <!-- Mensagem de sucesso -->
    <div *ngIf="mensagemSucesso" class="mensagem-sucesso">
      {{ mensagemSucesso }}
    </div>
  </div>

  <div class="search-container" *ngIf="isUserGerenteOuRoot">
    <mat-form-field appearance="fill" class="search-bar">
      <mat-label>Buscar serviço registrado</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Digite o número do contrato, os, data..." #input>
    </mat-form-field>
  </div>

  <div class="search-container" *ngIf="!isUserGerenteOuRoot">
    <mat-form-field appearance="fill" class="search-bar">
      <mat-label>Buscar serviço registrado</mat-label>
      <input matInput (keyup)="applyFilterAdm($event)" placeholder="Digite o número do contrato, os, data..." #input>
    </mat-form-field>
  </div>

  <div class="tabela-listar-servicos" *ngIf="isUserGerenteOuRoot">
    <table mat-table [dataSource]="servicosExecutadosDataSource" class="mat-elevation-z8">

      <!-- Coluna ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Coluna Contrato -->
      <ng-container matColumnDef="contrato">
        <th mat-header-cell *matHeaderCellDef> Contrato </th>
        <td mat-cell *matCellDef="let element"> {{element.contrato}} </td>
      </ng-container>

      <!-- Coluna Tipo OS -->
      <ng-container matColumnDef="os">
        <th mat-header-cell *matHeaderCellDef> OS </th>
        <td mat-cell *matCellDef="let element"> {{element.os}} </td>
      </ng-container>

      <!-- Coluna Tipo Data -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>

      <!-- Coluna Tipo Nome Técnico -->
      <ng-container matColumnDef="nomeTecnico">
        <th mat-header-cell *matHeaderCellDef> Nome Técnico </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeTecnico}} </td>
      </ng-container>

      <!-- Coluna Tipo Descrição Serviço -->
      <ng-container matColumnDef="descricaoServico">
        <th mat-header-cell *matHeaderCellDef> Descrição Serviço </th>
        <td mat-cell *matCellDef="let element"> {{element.descricaoServico}} </td>
      </ng-container>

      <!-- Coluna Tipo Descrição Serviços Adicionais -->
      <ng-container matColumnDef="descricaoServicosAdicionais">
        <th mat-header-cell *matHeaderCellDef> Descrição Serviços Adicionais </th>
        <td mat-cell *matCellDef="let element"> {{element.descricaoServicosAdicionais.join(', ')}} </td>
      </ng-container>

      <!-- Coluna Valor 1 -->
      <ng-container matColumnDef="valor1">
        <th mat-header-cell *matHeaderCellDef> Valor Principal </th>
        <td mat-cell *matCellDef="let element"> {{element.valor1 | currency:'BRL'}} </td>
      </ng-container>

      <!-- Coluna Valor Total -->
      <ng-container matColumnDef="valorTotal">
        <th mat-header-cell *matHeaderCellDef> Valor Total </th>
        <td mat-cell *matCellDef="let element"> {{element.valorTotal | currency:'BRL'}} </td>
      </ng-container>

      <!-- Coluna Nome Cliente -->
      <ng-container matColumnDef="nomeCliente">
        <th mat-header-cell *matHeaderCellDef> Nome Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
      </ng-container>

      <!-- Coluna Metragem Cabo Drop -->
      <ng-container matColumnDef="metragemCaboDrop">
        <th mat-header-cell *matHeaderCellDef> Metragem Cabo Drop </th>
        <td mat-cell *matCellDef="let element"> {{element.metragemCaboDrop}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- Linhas da Tabela -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selecionarServico(row)"
        [class.linha-selecionada]="row === servicoSelecionado">
      </tr>

    </table>

    <mat-paginator [length]="servicosExecutadosDataSource.data.length" [pageSize]="50"
      [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page of technicians">
    </mat-paginator>

    <div class="botoes-container">
      <button class="btn-editar" mat-button (click)="editarServicoRegistrado()">Editar</button>
      <button class="btn-excluir" mat-button (click)="excluirServico()">Excluir</button>
    </div>

  </div>

  <div class="tabela-listar-servicos" *ngIf="!isUserGerenteOuRoot">
    <table mat-table [dataSource]="servicosExecutadosAdmDataSource" class="mat-elevation-z8">

      <!-- Coluna ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Coluna Contrato -->
      <ng-container matColumnDef="contrato">
        <th mat-header-cell *matHeaderCellDef> Contrato </th>
        <td mat-cell *matCellDef="let element"> {{element.contrato}} </td>
      </ng-container>

      <!-- Coluna Tipo OS -->
      <ng-container matColumnDef="os">
        <th mat-header-cell *matHeaderCellDef> OS </th>
        <td mat-cell *matCellDef="let element"> {{element.os}} </td>
      </ng-container>

      <!-- Coluna Tipo Data -->
      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let element"> {{element.data}} </td>
      </ng-container>

      <!-- Coluna Tipo Nome Técnico -->
      <ng-container matColumnDef="nomeTecnico">
        <th mat-header-cell *matHeaderCellDef> Nome Técnico </th>
        <td mat-cell *matCellDef="let element"> {{element.nomeTecnico}} </td>
      </ng-container>

      <!-- Coluna Tipo Descrição Serviço -->
      <ng-container matColumnDef="descricaoServico">
        <th mat-header-cell *matHeaderCellDef> Descrição Serviço </th>
        <td mat-cell *matCellDef="let element"> {{element.descricaoServico}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsAdm"></tr>
      <!-- Linhas da Tabela -->
      <tr mat-row *matRowDef="let row; columns: displayedColumnsAdm;"></tr>

    </table>

    <mat-paginator [length]="servicosExecutadosDataSource.data.length" [pageSize]="10" [pageSizeOptions]="[25, 50, 100]"
      aria-label="Select page of technicians" (page)="carregarServicosExecutadosAdm($event.pageIndex, $event.pageSize)">
    </mat-paginator>

  </div>

  <div class="resumo-mensal-container">
    <div class="summary-field-container">
      <span class="label">Quantidade de Serviços:</span>
      <span class="value">{{ quantidadeServicos }}</span>
    </div>
    <div class="summary-field-container" *ngIf="isUserGerenteOuRoot">
      <span class="label">Valor Principal:</span>
      <span class="value">{{ valorTotal1 | currency:'BRL' }}</span>
    </div>
    <div class="summary-field-container" *ngIf="isUserGerenteOuRoot">
      <span class="label">Valor Total:</span>
      <span class="value">{{ somaValorTotal | currency:'BRL' }}</span>
    </div>
  </div>



  <div class="links">
    <a routerLink="/">Voltar para Home</a>
  </div>

</div>