<form [formGroup]="registroForm" (ngSubmit)="registrar()" novalidate>
  
    <mat-form-field appearance="fill">
        <mat-label>Contrato</mat-label>
        <input matInput formControlName="contrato" required>
        <mat-error *ngIf="registroForm.get('contrato')?.invalid && registroForm.get('contrato')?.touched">
          O campo Contrato é obrigatório.
        </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>OS</mat-label>
      <input matInput formControlName="os" required>
      <mat-error *ngIf="registroForm.get('os')?.invalid && registroForm.get('os')?.touched">
        O campo OS é obrigatório.
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="data" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="registroForm.get('data')?.invalid && registroForm.get('data')?.touched">
        A data é obrigatória.
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Técnico</mat-label>
      <input type="text" matInput formControlName="idTecnico" [matAutocomplete]="autoTecnico" required>
      <mat-autocomplete #autoTecnico="matAutocomplete">
        <mat-option *ngFor="let tecnico of tecnicosFiltrados | async" [value]="tecnico.idTecnico">
          {{ tecnico.nome }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="registroForm.get('idTecnico')?.invalid && registroForm.get('idTecnico')?.touched">
        A escolha de um técnico é obrigatória.
      </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Serviço</mat-label>
      <input type="text" matInput formControlName="idServico" [matAutocomplete]="autoServico" required>
      <mat-autocomplete #autoServico="matAutocomplete">
        <mat-option *ngFor="let servico of servicosFiltrados | async" [value]="servico.idServico">
          {{ servico.descricao }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="registroForm.get('idServico')?.invalid && registroForm.get('idServico')?.touched">
        A escolha de um serviço é obrigatória.
      </mat-error>
    </mat-form-field>
  
    <div *ngIf="isRootOrGerente">
      <mat-form-field appearance="fill">
        <mat-label>Valor Claro</mat-label>
        <input matInput type="number" formControlName="valorClaro">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Valor Macedo</mat-label>
        <input matInput type="number" formControlName="valorMacedo">
      </mat-form-field>
    </div>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="!registroForm.valid">Registrar</button>
    
  </form>
  
