.registro-servicos-page-container {
    max-width: 100%;
    margin: auto;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgba(249, 249, 249, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .registro-servicos-container {
        max-width: 100%;
        margin: auto;
        padding: 25px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: rgba(249, 249, 249, 0.8);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .registro-form-container {
            display: flex;
            flex-direction: column;

            .form-row {
                display: flex; 
                flex-wrap: wrap;
                gap: 20px;
                justify-content: space-between;

                .mat-form-field {
                    flex: 1 1 calc(25% - 20px);
                    min-width: 200px;
                }
            }

            margin-top: 20px;

            .contrato-control,
            .os-control,
            .data-control,
            .tecnico-control,
            .servico-control,
            .servicos-adicionais-control,
            .valor1-control,
            .valor-total-control {
                flex: 1 1 calc(25% - 20px);
                min-width: 200px;
            }
        }
    }

    .search-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        margin-top: 20px;

        .search-bar {
            width: 50%;
        }
    }

    .tabela-listar-servicos {
        overflow-x: auto;
        padding: 25px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: rgba(249, 249, 249, 0.8);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    table {
        width: 100%;
        margin-top: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        th {
            background-color: #333;
            color: white;
        }

        td {
            padding: 8px 16px;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }

        .mat-paginator {
            margin-top: 20px;
        }
    }

    .botoes-container {
        display: flex;
        justify-content: center; // Alinha os itens horizontalmente ao centro
        gap: 10px; // Adiciona espaço entre os botões
    }

    .btn-editar,
    .btn-excluir {
        background-color: #333;
        color: #f9f9f9;
    }

    .linha-selecionada {
        background-color: #333; // Cor de fundo para a linha selecionada
    }

    .links {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        a,
        button {
            color: #333;
            text-decoration: none;
            padding: 10px;
            background: none;
            border: none;
            cursor: pointer;
        }
    }

    .resumo-mensal-container {
        display: flex;
        justify-content: space-between; // This will align the child elements to the sides
        align-items: center;
        padding: 25px;
        margin-top: 20px; // Adjust as needed for spacing
        width: 100%;

        // Create a container for the summary fields that mimics the input style
        .summary-field-container {
            display: flex;
            align-items: center;
            padding: 0 15px;
            height: 56px; // Match the height of your input fields
            border: 1px solid #ccc; // Match the border of your input fields
            border-radius: 4px; // Match the border-radius of your input fields
            background-color: #f9f9f9; // Match the background color of your input fields
            margin-right: 10px; // Spacing between the summary fields

            .label {
                font-weight: bold; // To match your form field labels
                margin-right: 10px; // Spacing between label and value
                color: #333; // Label text color
            }

            .value {
                font-size: 16px; // Match font size to your input fields
                color: #333; // Value text color
            }
        }

        // Ensure that the summary fields are on the right
        margin-left: auto;
    }
}