<div class="print-container">
    <!-- Conteúdo para imprimir -->
    <h1>{{ nomeTecnico }}</h1>
    <table mat-table [dataSource]="contratosExecutadosDataSource.data" class="mat-elevation-z8">

        <!-- Coluna Contrato -->
        <ng-container matColumnDef="contrato">
            <th mat-header-cell *matHeaderCellDef> Contrato </th>
            <td mat-cell *matCellDef="let element"> {{element.contrato}} </td>
        </ng-container>

        <!-- Coluna Tipo OS -->
        <ng-container matColumnDef="os">
            <th mat-header-cell *matHeaderCellDef> OS </th>
            <td mat-cell *matCellDef="let element"> {{element.os}} </td>
        </ng-container>

        <!-- Coluna Tipo Data -->
        <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef> Data </th>
            <td mat-cell *matCellDef="let element"> {{element.data}} </td>
        </ng-container>

        <!-- Coluna Tipo Descrição Serviço -->
        <ng-container matColumnDef="descricaoServico">
            <th mat-header-cell *matHeaderCellDef> Descrição Serviço </th>
            <td mat-cell *matCellDef="let element"> {{element.descricaoServico}} </td>
        </ng-container>

        <!-- Coluna Valor Comissao -->
        <ng-container matColumnDef="comissao">
            <th mat-header-cell *matHeaderCellDef> Gratificação </th>
            <td mat-cell *matCellDef="let element"> {{element.comissao}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Linhas da Tabela -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div class="comissao-total-container">
        Gratificação Total: {{ comissaoTotal | currency:'BRL' }}
    </div>
    <button (click)="printContent()" class="print-btn">Imprimir</button>
    <button (click)="fecharModal()" class="close-btn">Fechar</button>
</div>