<app-card variant="secondary">
  <mat-card-header>
    <mat-card-title>Controle KM</mat-card-title>
  </mat-card-header>
  <img src="assets/imagens/painel.png" alt="Imagem painel de informacoes" />
  <mat-card-content>
    <p>
      Clique no botão abaixo para visualizar as informações extrádas do sistema.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" (click)="navigateToGratificacao()">
      Gerenciar KM
    </button>
  </mat-card-actions>
</app-card>
