<mat-card class="card-cadastro-servicos">
    <mat-card-header>
        <mat-card-title>Cadastro de Serviços</mat-card-title>
      </mat-card-header>
    <img 
        src="assets/imagens/cadastroNovoServico.png" 
        alt="Imagem de cadastro de servico">
    <mat-card-content>
        <p>
            Clique no botão abaixo para começar o cadastro de um novo serviço.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary">CADASTRAR NOVO SERVIÇO</button>
      </mat-card-actions>
</mat-card>
