<mat-card class="card-painel">
    <mat-card-header>
        <mat-card-title>Painel de informações</mat-card-title>
      </mat-card-header>
    <img 
        src="assets/imagens/painel.png" 
        alt="Imagem painel de informacoes">
    <mat-card-content>
        <p>
            Clique no botão abaixo para visualizar as informações extrádas do sistema.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary">Visualizar Painel</button>
      </mat-card-actions>
</mat-card>
