<app-card variant="secondary">
    <mat-card-header>
        <mat-card-title>Gerenciar Serviços Executados</mat-card-title>
      </mat-card-header>
    <img 
        src="assets/imagens/cadastroServico.png" 
        alt="Imagem servico executado">
    <mat-card-content>
        <p>
            Clique no botão abaixo para começar a gerenciar os serviços executados.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="navigateToRegistrarServico()">GERENCIAR SERVIÇOS EXECUTADOS</button>
    </mat-card-actions>
</app-card>
