<mat-card class="card-servicos">
    <mat-card-header>
        <mat-card-title>Registro de Serviços</mat-card-title>
      </mat-card-header>
    <img 
        src="assets/imagens/cadastroServico.png" 
        alt="Imagem de registro de servico">
    <mat-card-content>
        <p>
            Clique no botão abaixo para começar a registrar os serviços executados.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary">REGISTRAR SERVIÇOS</button>
      </mat-card-actions>
</mat-card>
