<section class="homepage" *ngIf="isLoggedIn">
    <app-container >
        <div class="card-wrapper">
            <app-card-servicos></app-card-servicos>
            <app-card-tecnico></app-card-tecnico>
            <app-card-cadastro-servicos></app-card-cadastro-servicos>
        </div>

        <div class="card-wrapper">
            <app-card-gratificacao></app-card-gratificacao>
        </div>
    </app-container>
</section>

<section class="welcome-section" *ngIf="!isLoggedIn">
    <div class="welcome-container">
        <div class="loading-spinner"></div>
        <h1>Bem-vindo ao ControlService</h1>
        <p>Por favor, efetue o login para acessar o sistema.</p>
    </div>
</section>