<section class="homepage" *ngIf="isLoggedIn">
    <app-container>
        <div class="card-wrapper">
            <app-card variant="primary">
                <app-card-servicos></app-card-servicos>
            </app-card>
            <app-card variant="primary">
                <app-card-tecnico></app-card-tecnico>
            </app-card>
            <app-card variant="primary">
                <app-card-cadastro-servicos></app-card-cadastro-servicos>
            </app-card>
        </div>

        <div class="card-wrapper">
            <app-card variant="secondary">
                <app-card-gratificacao></app-card-gratificacao>
            </app-card>
            <app-card variant="secondary">
                <app-card-painel></app-card-painel>
            </app-card>
            <app-card variant="secondary">
                <app-card-controle-km></app-card-controle-km>
            </app-card>
        </div>
    </app-container>
</section>
