<section class="homepage">
    <app-banner
        src="assets/imagens/bannerInstalacao.png"
        alt="Banner logo Macedos"
    ></app-banner>
    <app-container>
        <h2>Ferramentas</h2>
        <div class="card-wrapper">
            <app-card-servicos></app-card-servicos>
            <app-card-tecnico></app-card-tecnico>
            <app-card-cadastro-servicos></app-card-cadastro-servicos>
        </div>

        <div class="painel-container">
            <app-card-painel></app-card-painel>
        </div>
    </app-container>
</section>
