<div class="servico-page-container">
    <div class="servico-container" *ngIf="isUserGerenteOuRoot">
        <h2>Cadastro de Novo Serviço</h2>
        <form [formGroup]="servicoForm" (ngSubmit)="onSubmit()" novalidate class="servico-form-container">
            <div class="linha">
                <mat-form-field appearance="fill" class="descricao-control">
                    <mat-label>Descrição</mat-label>
                    <input matInput formControlName="descricao" required>
                    <mat-error *ngIf="servicoForm.get('descricao')?.invalid && servicoForm.get('descricao')?.touched">
                        O campo Descrição é obrigatório.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="valor1-control">
                    <mat-label>Valor 1</mat-label>
                    <input matInput formControlName="valor1" required>
                    <mat-error *ngIf="servicoForm.get('valor1')?.invalid && servicoForm.get('valor1')?.touched">
                        O campo Valor 1 é obrigatório.
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="linha">
                <mat-form-field appearance="fill" class="valor2-control">
                    <mat-label>Valor 2</mat-label>
                    <input matInput formControlName="valor2" required>
                    <mat-error *ngIf="servicoForm.get('valor2')?.invalid && servicoForm.get('valor2')?.touched">
                        O campo Valor 2 é obrigatório.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="tipoServico-control">
                    <mat-label>Tipo de Serviço</mat-label>
                    <mat-select formControlName="tipoServico" required>
                        <mat-option *ngFor="let tipo of tiposServico" [value]="tipo">{{tipo}}</mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="servicoForm.get('tipoServico')?.invalid && servicoForm.get('tipoServico')?.touched">
                        O campo Tipo de Serviço é obrigatório.
                    </mat-error>
                </mat-form-field>
            </div>

            <button mat-raised-button type="submit" [disabled]="!servicoForm.valid">Cadastrar Serviço</button>
        </form>
        <!-- Exibir mensagem de erro -->
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
    </div>

    <div class="search-container" *ngIf="isUserGerenteOuRoot">
        <mat-form-field appearance="fill" class="search-bar">
          <mat-label>Buscar Serviço</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Digite a ID, Descrição, Valor ou Tipo de Serviço" #input>
        </mat-form-field>
    </div>

    <div class="search-container" *ngIf="!isUserGerenteOuRoot">
        <mat-form-field appearance="fill" class="search-bar">
          <mat-label>Buscar Serviço</mat-label>
          <input matInput (keyup)="applyFilterAdm($event)" placeholder="Digite a ID, Descrição ou Tipo de Serviço" #input>
        </mat-form-field>
    </div>

    <div class="tabela-listar-servicos" *ngIf="!isUserGerenteOuRoot">
        <table mat-table [dataSource]="servicosDataSource" class="mat-elevation-z8">

            <!-- Coluna ID -->
            <ng-container matColumnDef="idServico">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.idServico}} </td>
            </ng-container>

            <!-- Coluna Descrição -->
            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef> Descrição </th>
                <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
            </ng-container>

            <!-- Coluna Tipo Serviço -->
            <ng-container matColumnDef="tipoServico">
                <th mat-header-cell *matHeaderCellDef> Tipo Serviço </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoServico}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- Linhas da Tabela -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [length]="servicosDataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
            aria-label="Select page of technicians">
        </mat-paginator>

    </div>


    <div class="tabela-listar-servicos" *ngIf="isUserGerenteOuRoot">
        <table mat-table [dataSource]="servicoGerenteDataSource" class="mat-elevation-z8">

            <!-- Coluna ID -->
            <ng-container matColumnDef="idServico">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.idServico}} </td>
            </ng-container>

            <!-- Coluna Descrição -->
            <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef> Descrição </th>
                <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
            </ng-container>

            <!-- Coluna Valor 1 -->
            <ng-container matColumnDef="valor1">
                <th mat-header-cell *matHeaderCellDef> Valor 1 </th>
                <td mat-cell *matCellDef="let element"> {{element.valor1}} </td>
            </ng-container>

            <!-- Coluna Valor 2 -->
            <ng-container matColumnDef="valor2">
                <th mat-header-cell *matHeaderCellDef> Valor 2 </th>
                <td mat-cell *matCellDef="let element"> {{element.valor2}} </td>
            </ng-container>

            <!-- Coluna Tipo Serviço -->
            <ng-container matColumnDef="tipoServico">
                <th mat-header-cell *matHeaderCellDef> Tipo Serviço </th>
                <td mat-cell *matCellDef="let element"> {{element.tipoServico}} </td>
            </ng-container>

            <!-- Coluna Ativo -->
            <ng-container matColumnDef="ativo">
                <th mat-header-cell *matHeaderCellDef> Ativo </th>
                <td mat-cell *matCellDef="let element"> {{element.ativo ? 'Sim' : 'Não'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsGerente"></tr>
            <!-- Linhas da Tabela -->
            <tr mat-row *matRowDef="let row; columns: displayedColumnsGerente;" (click)="selecionarServico(row)"
                [class.linha-selecionada]="row === servicoSelecionado">
            </tr>

        </table>

        <mat-paginator [length]="servicoGerenteDataSource.data.length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"
            aria-label="Select page of technicians">
        </mat-paginator>

        <div class="botoes-container">
            <button class="btn-editar" mat-button (click)="editarServico()">Editar</button>
            <button class="btn-excluir" mat-button (click)="excluirServico()">Inativar</button>
        </div>
    </div>

    <div class="links">
        <a routerLink="/">Voltar para Home</a>
    </div>

</div>