.modal-editar-usuario {
    .mat-dialog-title {
      text-align: center;
      color: #333;
    }
  
    .modal-editar-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%; // Ajuste a largura conforme necessário
      margin: 0 auto; // Centraliza o modal-editar-container
  
      .modal-editar-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
  
        label {
          font-weight: bold;
        }
  
        input, span {
          width: 100%; // Limita a largura dos campos
          max-width: 350px; // Ajuste conforme necessário
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
        }
  
        span {
          background-color: #f8f8f8;
        }
      }
  
      .actions {
        display: flex;
        justify-content: space-between;
        gap: 10px;
  
        button {
          padding: 8px 20px; // Ajuste o padding conforme necessário
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;
          flex-grow: 1;
  
          &:hover {
            background-color: #555;
          }
        }
      }
    }
  
    .mostrar-alterar-senha {
      margin-top: 20px;
      border: 1px solid #ccc;
      padding: 15px;
      border-radius: 4px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  
      .form-alterar-senha {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
  
      .input-field {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
  
      button {
        width: auto; // Permite que os botões tenham largura baseada em seu conteúdo
        margin-top: 10px;
      }
    }
  }
  
  /* Estilização dos modais de mensagem (sucesso e erro) */
  .modal-mensagem {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h2 {
      color: #333;
      margin-bottom: 15px;
    }
  
    p {
      color: #666; // Cor mais suave para o texto
      margin-bottom: 20px;
    }
  
    button {
      background-color: #333;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
      
  
      &:hover {
        background-color: #555; // Escurece o botão ao passar o mouse
      }
    }
  }
  
